.App{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.button{
  width: 73px;
  height: 73px;
  border-radius: 3px;
  font-size: 60px;
  color: rgb(200, 200, 200);
  text-align: center;
  margin: 1px;
  line-height: 73px;
}

#Calculator{
  display: flex;
  margin-top: 10%;
}

.display{
  width: 100%;
  height: 75px;
  text-align: right;
  color: rgb(200, 200, 200);
  font-size: 60px;
  margin-inline-end: 5%;
}

.history{
  width: 100%;
  height: 25px;
  text-align: right;
  color: rgb(200, 200, 200);
  font-size: 18px;
  margin-inline-end: 5%;
}